<!-- home.html -->
{% extends 'base.html' %}
{% load static %}


<!-- Remaining HTML code -->


{% block content %}
    <h1>Welcome to the Office Manager</h1>
    <p>This is the home page of the Office Manager application.</p>
    <p>Here, you can manage various aspects of your office, including employees, projects, tasks, etc.</p>
    <p>Feel free to explore the features and functionalities!</p>

    <div class="card">
        <h2>Goals</h2>
        <ul>
            <li><strong>Customer Growth:</strong> Expand the customer base and reach new markets while retaining existing customers through exceptional service and value.</li>
            <li><strong>Innovation Leadership:</strong> Lead the industry in innovation and technology, continuously improving  products/services to meet the evolving needs of the customers.</li>
            <li><strong>Sustainability:</strong> Implement sustainable practices across all aspects of my operations, reducing the environmental footprint and contributing to a healthier planet.</li>
            <li><strong>Employee Development:</strong> Invest in the professional development and well-being of employees, fostering a culture of growth, collaboration, and diversity.</li>
            <li><strong>Community Impact:</strong> Strengthen our community engagement efforts, supporting local initiatives and making a positive difference in the lives of those around us.</li>
        </ul>
    </div>

{% endblock %}
